.TodoItem{    
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    place-items: center;
    margin: 40px 10px;
    min-height: 60px;

}
.TodoItem svg{
    width: 30px;
    height: 30px;
}
.check--active{
  color: #08c6ab;  
}
.TodoItem p{
    max-width: 180px;
}
.delete{
    color: #d45a5a;
}