.container-todo--form{
    display: grid;
    place-items: center;
    grid-template-rows: 1fr auto 1fr;

    width: 300px;
    height: 300px;
    
}

.todo-label{
    font-size: 20px;
}
.form--textarea{
    width: 220px;
    font-family: 'Raleway', sans-serif;
    border-radius: 14px;
    padding: 10px 6px 6px 6px;
}
.container-form--button{
    width: 230px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-left: 2px;
}
.container-form--button button{
    border: none;
    width: 80px;
    padding: 6px 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: rgb(212, 226, 226);
    border-radius: 6px;
    box-shadow:  9px 9px 9px #10151b,
    -9px -9px 9px #324155;

    text-shadow:  2px 2px 2px #3c4756,
    2px 2px 8px #5c7493;
}
.container-form--button button:nth-child(1){
    background: #d45a5a;
}
.container-form--button button:nth-child(2){
    background: #08c6ab; 
}