.CreateTodoButton{
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    color:rgb(212, 226, 226);
    border: none;
    border-radius: 50%;
    background: #08c6ab;
    background: linear-gradient(145deg, #08c6ab, #079f88);
    z-index: 1;

}

h1{
    margin-top: 0;
    font-size:40px;
}